ul li.checked{
	background: #888;
	color: #fff;
	text-decoration: line-through;
}

#myList li .close{
	float: right;
}

ul{
	list-style-type: none;
}

ul li{
	line-height: 20px;
}

.close{
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
}
.item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}